body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board {
    height: 540px;
    width: 640px;

    background-color: gray;
    border: 10px solid black;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    height: 70px;
    width: 70px;

    background-color: white;
    border-radius: 50%;

    margin: 5px;
    border: 5px solid black;
}

.red-peice{
    background-color: red;
}

.blue-peice{
    background-color: blue;
}

.button{
  background-color:black; /* Green */
  border: none;
  border-radius: 15px;
  color: white;
  margin: 30px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}